<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.test.wrapper.asap" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>TestPluginWrapperForASAP</name><js-module name="TestPluginWrapperForASAP" src="www/TestPluginWrapperForASAP.js"><clobbers target="cordova.plugins.TestPluginWrapperForASAP" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="TestPluginWrapperForASAP"><param name="android-package" value="com.test.wrapper.asap.TestPluginWrapperForASAP" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/TestPluginWrapperForASAP.java" target-dir="src/com/test/wrapper/asap/TestPluginWrapperForASAP" /></platform></plugin>